//- PRODUCTIE
- var productie = true

- var PageTitle = "cms-milan-megastore";
- var Keywords = "keywords";
- var description = "description";
- var bodyClass = "Page";

//- setare  clasa activa pentru menu in fiecare pagina:
//- pentru pagina de index
- var bodyClass = "index";

- var contactMail ="mailto:vanzari@noirezidente.ro";

//- MENU
//- clasa adaugata pentru activarea meniului
- var activeHome = "";
- var activeItem01 = "";
- var activeItem02 = "";

- var activeHomePage = ""
- var homePage		= "Home";
- var homePagelink	= "index.html";


- var activeItem01 = ""
- var item01Link	= "item01.html";
- var item01Title	= "item01";

- var item01ALink	= "item01A.html";
- var item01ATitle	= "item01A";
- var item01BLink	= "item01B.html";
- var item01BTitle	= "item01B";

- var item02Link	= "item02.html";
- var item02Title	= "item02";

- var activeContact = ""
- var contactLink 	= "contact"
- var contactTitle 	= "contact"

//- font google
- var googleFonts = "Raleway:400,100,800"


//- jQuery (necessary for Bootstrap's JavaScript plugins)
- var jQuery = true

//- bootstrap
- var bootstrap = true

//- paralax
- var paralax = true

block option
block cms