block default
	- var PageTitle = ""
	- var Keywords = ""
	- var description = ""
	- var bodyClass = "Page"

	//- setare  clasa activa pentru menu in fiecare pagina:
	//- pentru pagina de index
	- var bodyClass = "index"



	//- MENU
	//- clasa adaugata pentru activarea meniului
	- var activeAcasa = ""
	- var activeProiecte = ""
	- var activeContact = ""

	- var homePage ="index.html"
	//- var contactLink ="mailto:vanzari@noirezidente.ro"
	- var pr01Link ="proiectul-sirenelor-61.php"
	- var pr02Link ="proiectul-sirenelor-63.php"


//- font google
- var googleFonts = "Source+Sans+Pro:200,400,700,400italic"

//- jQuery
- var jQuery = true

//- bootstrap
- var bootstrap = true

//- paralax
- var paralax = true

//- paralax
- var gmaps = true

- var flexslider = true

//-bootstrap Gallery
- var bootstrapGallery = true

//-bootstrap Gallery
- var JsFlickrGallery = true

//- Mordernizr
- var Mordernizr = true